.gameboard{
    background-color: var(--gameboard-background);
    height: calc(100vh - var(--setup-height));
    display: grid;    
}

.gameboard img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}